extends _templates/layout.jade

block content
	//- .test
	section.hero-section
		.bg
		.container
			.row
				.col-5
					._intro
						h1 melodia
						h2 a smarter music app.
						button.cta-btn
							figure.apple 
								include _modules/svg/apple.jade
							span._label get melodia
							figure.arrow 
								include _modules/svg/arrow.jade

				.col-7
					.phones-wrapper
						figure.iphone-wrap.black
							img(src="img/iPhone-black.png", alt="iPhone Mockup")
							.ui
								img(src="img/ui-hero-left.png", alt="Melodia App Interface")

						figure.iphone-wrap.white
							img(src="img/iPhone-white.png", alt="iPhone Mockup")
							.ui
								img(src="img/ui-hero-mid.png", alt="Melodia App Interface")

						figure.iphone-wrap.black
							img(src="img/iPhone-black.png", alt="iPhone Mockup")
							.ui
								img(src="img/ui-hero-right.png", alt="Melodia App Interface")
		.fg
			include _modules/svg/hero-wave.jade



	section.bullet-section.text-right
		.skewed-bg
		.container
			.row
				.col-7
					.illustration-wrap
						.bg
							include _modules/svg/rounded-square.jade

						.interface
							include _modules/svg/dots-ring.jade
							figure.phone
								img.device(src="img/iphone-flat.png", alt="iPhone Device")
								img.ui(src="img/ui-radio.png", alt="Melodia radio interface")

						ul.album-covers
							li.cover
								img(src="img/song1.png", alt="melodia app albums")
							li.cover
								img(src="img/song2.png", alt="melodia app albums")
							li.cover
							li.cover
								img(src="img/song3.png", alt="melodia app albums")
							li.cover
								img(src="img/song4.png", alt="melodia app albums")

						.day-cicle
							.day.bubble
								figure.sun

							.night.bubble
								figure.moon
									include _modules/svg/moon.jade

				.col-5
					._info
						h3
							|simple
							br
							|+ intelligent.
						p one smart radio personalized to your unique taste and moment.



	figure.divider
		img(src="img/division.png", alt="section divider")

	section.bullet-section.text-left
		.container
			.row
				.col-6
					._info
						h3 
							|it 
							span.blue-high learns 
							|from your listening patterns.

						p with its advanced AI and machine learning algorithms, melodia dynamically curates the right flow of songs that best match your taste and moment.

				.col-6
					.phones-wrapper
						p I'm an iPhone
	figure.divider
		img(src="img/division.png", alt="section divider")


	section.cards-section
		.container
			.row
				.col-12
					._info
						h3 why melodia?
						p melodia brings you a smarter and simpler radio, providing you with the kind of variety and flow that matches your unique taste.

			.row.cards-container
				.col-4
					.card-wrap
						figure._icon 
							include _modules/svg/shuffle.jade
							include _modules/svg/dont.jade
						p 
							span.blue-high stop 
							|shuffle playing the same playlists.
				.col-4
					.card-wrap
						figure._icon
							include _modules/svg/list.jade
							include _modules/svg/dont.jade
						p 
							span.blue-high stop 
							|listening to the same songs and stations.
				.col-4
					.card-wrap
						figure._icon
							include _modules/svg/playlists.jade
							include _modules/svg/dont.jade
						p 
							span.blue-high stop 
							|constantly organizing your library and playlists.



	section.centered-section
		.bg

		.container
			.row
				.col-6
					.phones-wrapper
						figure.iphone-wrap.white
							img(src="img/iPhone-white.png", alt="iPhone Mockup")
							.ui
								img(src="img/ui-hero-mid.png", alt="Melodia App Interface")
				.col-6
					.closure-text
						h4 melodia is free for everyone!
						p download melodia now and get access to over 
							span.bold-high 40 million songs.
						button.cta-btn
							figure.apple 
								include _modules/svg/apple.jade
							span._label get melodia
							figure.arrow 
								include _modules/svg/arrow.jade

						p.help
							span.blue-down questions? 
							a(href="#") contact us now.

						ul.rrss
							li
								a(href="#" target="_blank")
									include _modules/svg/rrss-fb.jade
							li
								a(href="#" target="_blank")
									include _modules/svg/rrss-twitter.jade
							li
								a(href="#" target="_blank")
									include _modules/svg/rrss-ig.jade

		include _modules/footer.jade