extends _templates/layout.jade

block content
	section#hero-section
		.container
			.row
				.col-4
					h1 melodia
					h2 a smarter music app
					button.cta
						figure 
						span get melodia
						figure –>

				.col-7.offset-1
					.phones-wrapper
						p I'm an iPhone


	section.bullet-section.text-right
		.container
			.row
				.col-7
					.phones-wrapper
						p I'm an iPhone

				.col-4.offset-1
					h3 simple + intelligent
					p one smart radio personalized to your unique taste and moment.



	div.divider
		h1 –––––––––––––––––––––––––––––––––

	section.bullet-section.text-left
		.container
			.row
				.col-4
					h3 it learns from your listening patterns.
					p with its advanced AI and machine learning algorithms, melodia dynamically curates the right flow of songs that best match your taste and moment.

				.col-7.offset-1
					.phones-wrapper
						p I'm an iPhone
	div.divider
		h1 –––––––––––––––––––––––––––––––––


	section.cards-section
		.container
			.row
				.col-12
					h3 why melodia?
					p melodia brings you a smarter and simpler radio, providing you with the kind of variety and flow that matches your unique taste.

			.row
				.col-4
					.card-container
						figure icon
						p stop shuffle playing the same playlists.
				.col-4
					.card-container
						figure icon
						p stop listening to the same songs and stations.
				.col-4
					.card-container
						figure icon
						p stop constantly organizing your library and playlists.



	section.centered-section
		.container
			.row
				.col-6
					.phones-wrapper
						p I'm an iPhone
				.col-6
					h4 melodia is free for everyone!
					p download melodia now and get access to over 40 million songs.
					button.cta
						figure 
						span get melodia
						figure –>

					p questions?
						a(href="#") contact us now

					ul
						li
							i fb
						li
							i tw
						li
							i ig

