extends _templates/layout.jade

block content
	section.hero-section
		.bg
		.container
			.row
				.col-5
					h1 melodia
					h2 a smarter music app.
					button.cta-btn
						figure.apple 
							include _modules/svg/apple.jade
						span._label get melodia
						figure.arrow 
							include _modules/svg/arrow.jade

				.col-6.offset-1
					.phones-wrapper
						p I'm an iPhone


	section.bullet-section.text-right
		.container
			.row
				.col-7
					.phones-wrapper
						p I'm an iPhone

				.col-5
					._info
						h3 
							|simple
							br
							|+ intelligent.
						p one smart radio personalized to your unique taste and moment.



	div.divider
		h1 –––––––––––––––––––––––––––––––––

	section.bullet-section.text-left
		.container
			.row
				.col-6
					._info
						h3 
							|it 
							span.blue-high learns 
							|from your listening patterns.

						p with its advanced AI and machine learning algorithms, melodia dynamically curates the right flow of songs that best match your taste and moment.

				.col-6
					.phones-wrapper
						p I'm an iPhone
	div.divider
		h1 –––––––––––––––––––––––––––––––––


	section.cards-section
		.container
			.row
				.col-12
					._info
						h3 why melodia?
						p melodia brings you a smarter and simpler radio, providing you with the kind of variety and flow that matches your unique taste.

			.row.cards-container
				.col-4
					.card-wrap
						figure._icon icon
						p 
							span.blue-high stop 
							|shuffle playing the same playlists.
				.col-4
					.card-wrap
						figure._icon icon
						p 
							span.blue-high stop 
							|listening to the same songs and stations.
				.col-4
					.card-wrap
						figure._icon icon
						p 
							span.blue-high stop 
							|constantly organizing your library and playlists.



	section.centered-section
		.bg

		.container
			.row
				.col-6
					.phones-wrapper
						p I'm an iPhone
				.col-6
					.closure-text
						h4 melodia is free for everyone!
						p download melodia now and get access to over 
							span.bold-high 40 million songs.
						button.cta-btn
							figure.apple 
								include _modules/svg/apple.jade
							span._label get melodia
							figure.arrow 
								include _modules/svg/arrow.jade

						p.help
							span.blue-down questions? 
							a(href="#") contact us now.

						ul.rrss
							li
								i fb
							li
								i tw
							li
								i ig

